*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  overflow-x: hidden;
  font-family: serif;
}

header {
  height: 400px;
}

#mask {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(39, 39, 39, 0.9);
  z-index: 2;
  visibility: hidden;
}

#mask.active {
  visibility: visible;
}

header .background {
  position: relative;
  background: url(./img/back.png) left center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 400px;
}

header .background h1 {
  position: absolute;
  left: 5%;
  top: 40%;
  font-size: 50px;
  color: #32b4ff;
  text-shadow: 2px 2px 0px #fff;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding: 5px 7px 2px 5px;
  border-bottom: 3px solid #ff1c1c;
  -webkit-animation: main 1.5s;
          animation: main 1.5s;
}

@-webkit-keyframes main {
  0% {
    opacity: 0;
    background-color: none;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes main {
  0% {
    opacity: 0;
    background-color: none;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

header .background h2 {
  position: absolute;
  left: 1%;
  top: 60%;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #32b4ff;
  padding: 10px 15px;
  -webkit-box-shadow: 25px 20px 0px #133568;
          box-shadow: 25px 20px 0px #133568;
  -webkit-animation: title 3s;
          animation: title 3s;
}

@-webkit-keyframes title {
  0% {
    -webkit-box-shadow: 0px 0px 0px #fff;
            box-shadow: 0px 0px 0px #fff;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes title {
  0% {
    -webkit-box-shadow: 0px 0px 0px #fff;
            box-shadow: 0px 0px 0px #fff;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

#menuButton {
  position: fixed;
  right: 1%;
  bottom: 10%;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #32b4ff;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 4;
  opacity: 0.7;
}

#menuButton.active {
  background-color: #32b4ff;
}

#menuButton.active div:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menuButton.active div:nth-of-type(2) {
  opacity: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

#menuButton.active div:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menuButton div {
  position: absolute;
  top: 50%;
  left: 25%;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

#menuButton div:nth-of-type(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#menuButton div:nth-of-type(2) {
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#menuButton div:nth-of-type(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#slide {
  position: fixed;
  top: 0;
  right: 0;
  width: 85%;
  height: 100vh;
  background-color: #32b4ff;
  z-index: 3;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

#slide.active {
  visibility: visible;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 1s;
  transition: 1s;
}

#slide h2 {
  font-size: 35px;
  margin: 100px 10px 0px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 5px #151788;
  padding: 2px;
  border-bottom: 2px solid #ff1c1c;
}

#slide #slideList {
  padding: 50px 20px;
}

#slide #slideList li {
  margin-bottom: 30px;
}

#slide #slideList li a {
  padding: 20px;
  font-size: 25px;
  color: #fff;
  line-height: 1.5;
}

.container {
  background-color: #fefefe;
}

.container .block h2 {
  text-align: center;
  margin: 50px auto 0px;
  font-size: 30px;
  font-weight: bold;
  color: #32b4ff;
  line-height: 2;
}

.container .block h2::before {
  content: "|";
  color: orange;
  padding: 0 1px;
}

.container .block .box {
  position: relative;
  width: 90%;
  min-height: 30vh;
  margin: 10px auto 100px;
}

.container .block .box .photo1 {
  background: url(./img/img1.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 30vh;
  margin: 20px auto 0;
}

.container .block .box .photo2 {
  background: url(./img/img2.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 30vh;
  margin: 20px auto 0;
}

.container .block .box .photo3 {
  background: url(./img/img3.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 30vh;
  margin: 20px auto 0;
}

.container .block .box .photo4 {
  background: url(./img/img4.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 30vh;
  margin: 20px auto 0;
}

.container .block .box h3 {
  margin: 40px auto 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #32b4ff;
  letter-spacing: 20px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.container .block .box h3.js-sub.show {
  opacity: 1;
  letter-spacing: 1px;
  -webkit-transform: none;
          transform: none;
}

.container .block .box h3.first::before {
  content: "1.";
  color: #ff1c1c;
  font-size: 30px;
}

.container .block .box h3.second::before {
  content: "2.";
  color: #ff1c1c;
  font-size: 30px;
}

.container .block .box h3.third::before {
  content: "3.";
  color: #ff1c1c;
  font-size: 30px;
}

.container .block .box h3.forth::before {
  content: "4.";
  color: #ff1c1c;
  font-size: 30px;
}

.container .block .box p {
  width: 95%;
  font-size: 16px;
  margin: 3px auto 7px;
  padding: 20px;
  font-family: serif;
  line-height: 1.5;
  text-align: justify;
}

.container .block .box p.js-text {
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: 2s;
  transition: 2s;
}

.container .block .box p.js-text.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.container .block .box h4.example {
  font-size: 16px;
  padding: 20px 5px;
  text-align: center;
  line-height: 1.5;
  background-color: #e7f6fa;
  margin-bottom: 10px;
  color: #333;
  border-radius: 5px;
  -webkit-animation: example 3s ease-in-out infinite;
          animation: example 3s ease-in-out infinite;
}

@-webkit-keyframes example {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes example {
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.container .block .box table {
  width: 100%;
}

.container .block .box table tr {
  display: block;
  margin-bottom: 30px;
}

.container .block .box table th, .container .block .box table td {
  display: block;
  line-height: 1.5;
  padding: 10px 5px;
}

.container .block .box table th {
  background-color: #ccf0f0;
  font-weight: bold;
}

.container .block .box table td {
  font-size: 14px;
  font-family: serif;
  border: 1px solid #9b9cf7;
}

.container .block .box table td span {
  color: #ff1c1c;
}

.container .course > h3 {
  font-size: 16px;
  padding: 10px 20px;
  line-height: 1.5;
}

.container .course > h3 span {
  border-bottom: 1px solid #ff1c1c;
  color: #32b4ff;
}

.container .old h4 {
  padding: 10px;
  font-size: 20px;
}

.container .old h4::before, .container .old h4::after {
  content: "-";
}

.container .old .addition {
  text-align: center;
  opacity: 0.8;
  color: #ff1c1c;
  font-size: 14px;
}

.container .old .ob1 {
  background: url(./img/ob1.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 30vh;
  margin: 20px auto 0;
}

.container #page-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #32b4ff;
  opacity: 0.7;
  min-width: 50px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  bottom: 1%;
  right: 1%;
}
/*# sourceMappingURL=style.css.map */